*{
    margin:0;
    padding:0;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar{
    padding:10px;
    display:flex;
    justify-content:space-between;
    border-bottom:solid 1px; black;
    gap:10px;
    align-items: center;
}

.navbar__s1__title{
    color:#892DE1;  
}

.navbar__s2{
 padding:10px;
 border:solid black 1px;
 border-radius: 30px;
 width:60%;
 display:flex;
 gap:10px;
 align-items: center;
}

.navbar__s2 input{
    border: none;
    width:100%;
    font-size:16px;

}

.navbar__s2 input:focus{
    outline:none;
}

.navbar__s3{
    display:flex;
    gap:10px;
    align-items: center;
}

.Catagories{
    display:flex;
    padding:10px;
    border-bottom:solid black 1px;
    justify-content:space-around;
}

.Catagories p{
    background-color:#892DE1;
    color:white;
    padding:10px;
    border-radius:30px;
}

.sale-image img{
    width:100%;
}

.recommended{
    padding: 10px;
    
}

.course-card{
    width:300px;
}

.course-card img{
    width:100%;
    height:50%;
    
}

.recommendation__container{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top:10px;
    
}

.topics{
    padding:10px;
}

.topics__container{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-top:10px;
}

.topics__container p{
    padding:10px;
    gap:10px;
    border:solid grey 1px;
    flex-grow: 1;
    flex-basis:30%;
}

.popular{
    padding:10px;
}

.popular__container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer{
    background-color:black;
    color:white;
    padding:30px;
}

.footer__one{
    display:flex;
    gap:10px;
}

.footer__one p{
    margin:20px;
}

.footer__two{
    display:flex;
    justify-content: space-between;
    margin:20px;
    align-items: center;
}

